spring:
  main:
    banner-mode: log
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: none
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
  flyway:
    enabled: true
    clean-disabled: false
  security:
    oauth2:
      client:
        registration:
          cognito:
            client-id: ${COGNITO_CLIENT_ID}
            client-secret: ${COGNITO_CLIENT_SECRET}
            scope:
              - openid
              - email
              - profile
            authorization-grant-type: authorization_code
        provider:
          cognito:
            issuer-uri: ${COGNITO_PROVIDER_URL}

server:
  port: 8080
  forward-headers-strategy: framework
  servlet:
    context-path: "/api"

management:
  info:
    env:
      enabled: true
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      probes:
        enabled: true

info:
  application:
    name: finance-log-backend

api:
  app:
    url: ${APP_URL}
  user:
    version: "v1"
  auth:
    cognito:
      logoutUrl: "https://finance-log.auth.ap-south-1.amazoncognito.com/logout"

logging:
  level:
    org:
      springframework:
        security: TRACE
    com:
      financelog:
        backend: TRACE
    root: WARN