spring:
  main:
    banner-mode: log
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: none
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
  flyway:
    enabled: true
    clean-disabled: false



server:
  port: 8080
  forward-headers-strategy: framework
  servlet:
    context-path: "/api"

management:
  info:
    env:
      enabled: true
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      probes:
        enabled: true

info:
  application:
    name: finance-log-backend

api:
  app:
    url: ${APP_URL}
  user:
    version: "v1"
  auth:
    version: "v1"
  aws:
    region: ${AWS_REGION:ap-south-1}
    cognito:
      userPoolId: ${COGNITO_USER_POOL_ID}
      clientId: ${COGNITO_CLIENT_ID}
      clientSecret: ${COGNITO_CLIENT_SECRET}
    s3:
      bucket: ${S3_BUCKET_NAME}


logging:
  level:
    org:
      springframework:
        security: TRACE
    com:
      financelog:
        backend: TRACE
    root: WARN